.articleContent {
  pre {
    overflow: auto;
    background-color: #fafafa;
    padding: 1rem;
    font-size: 90%;
  }

  hr {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #e8e8e8;
    margin: 1rem 0;
    border: none;
  }

  blockquote {
    margin: 1rem 0;
    border-left: solid 4px #ddd;
    padding: 0.75rem 1rem;
    color: #727272;

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.meta {
  font-size: 85%;
  color: #454545;
}
