<!doctype html>
<html lang="{{ .Language.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }}
      {{ end }}
    </title>

    {{ $opts := dict "inlineImports" true }}
    {{ with resources.Get "css/styles.css" | postCSS $opts }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{ end }}
  </head>
  <body>
    <div id="site">
      <nav class="nav">
        {{ if not .IsHome }}
          <a href="{{ .Site.Home.RelPermalink }}">↫ {{ i18n "site.home" }}</a>
        {{ end }}

        {{ if .IsTranslated }}
          <div class="translations">
            {{ partial "icon/translation.svg" }}
            {{ range .Translations }}
              <a href="{{ .RelPermalink }}">{{ .Language.LanguageCode }}</a>
            {{ end }}
          </div>
        {{ end }}
      </nav>

      <div id="site-content" class="{{ .Kind }}">
        {{ block "main" . }}{{ end }}
      </div>

      <footer id="site-footer">
        <div>
          {{ with .GitInfo }}
            <a href="{{ $.Site.Params.repo.url }}/commit/{{ .Hash }}"
              >{{ .AbbreviatedHash }}</a
            >
          {{ end }}
        </div>
        {{ block "footer-item" . }}{{ end }}
      </footer>
    </div>

    {{ with resources.Get "js/page.js" | js.Build }}
      <script src="{{ .RelPermalink }}"></script>
    {{ end }}
  </body>
</html>
