{{ define "main" }}
  <header class="header">
    <h1 class="title">{{ .Title }}</h1>

    {{ $datetime := time.Format "2006-01-02" .Date }}
    <time class="subtitle" datetime="{{ $datetime }}">
      {{ .Date | time.Format ":date_long" }}
    </time>
  </header>

  <div id="content">
    {{ .Content }}
  </div>
{{ end }}

{{ define "footer-item" }}
  <div>&middot;</div>
  <div>
    {{ with .Site.Params.repo }}
      <a href="{{ .url }}/blob/{{ .branch }}/content/{{ $.File.Path }}">
        {{ i18n "page.improve" }}</a
      >
    {{ end }}
  </div>
{{ end }}
