{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <div id="content">
    {{ .Content }}
  </div>

  <hr />

  {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
      {{ range .Translations }}
        <li>
          <a href="{{ .RelPermalink }}">
            ({{ .Language.Lang }})
            {{ .LinkTitle }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ define "footer-item" }}
  <div>
    {{ with .Site.Params.repo }}
      <a href="{{ .url }}/blob/{{ .branch }}/content/{{ $.File.Path }}">
        {{ i18n "improve-page" }}</a
      >.
    {{ end }}
  </div>
{{ end }}
