.crumbs {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 3px #ddd;
  color: #454545;
  font-size: 85%;

  & > * {
    display: inline-block;
  }

  & > *:not(:last-child)::after {
    content: var(--middot);
    margin: 0 0.5rem;
  }
}
